table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: 
      minmax(150px, 1fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr);
  }
  
  thead,
  tbody,
  tr {
    display: contents;
  }
  
  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  th {
    position: sticky;
    top: 0;
    background: $color-green;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
  }
  
  th:last-child {
    border: 0;
  }
  
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
  }
  
  tr:nth-child(even) td {
    background: $color-white;
  }