body {
  color: #333333;
  font: normal 125%/1.4 "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*================================================================
  Buttons
  To create a button: add the base button class, a color
  class, a size class, and (when needed) a page-specific class.
  Index:
  - Base class
  - Color classes
  - Size classes
  - Page-specific classes
=================================================================*/
/*---------------------------
  Button Base class
  * Use on all buttons
---------------------------*/
.btn {
  border: 0;
  box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  transition: all 100ms ease-in;
  white-space: nowrap;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 5px 0;
  color: white;
  --md-typeset-a-color: white;
}

/*---------------------------
  Button Colors
---------------------------*/
/*   Primary Button  ---  Green   */
.btn {
  background: #247984;
  color: #ffffff;
  border: 4px solid transparent;
}
.btn:focus, .btn.focus {
  border-color: #0D5761;
  outline-color: #0D5761;
}
.btn:disabled {
  background: #c6c6c6;
}
.btn:hover, .btn:active, .btn.hover, .btn.active {
  background: #0D5761;
  color: #ffffff;
  text-decoration: none;
}

.disabled {
  background: #c6c6c6;
}

/*---------------------------
  Button Sizes
---------------------------*/
.btn-sm {
  height: 40px;
  padding: 0 32px;
  border-radius: 20px;
  font-size: 1rem;
}

.btn-md {
  height: 60px;
  padding: 0 50px;
  border-radius: 60px;
  font-size: 1.25rem;
}

.btn-lg {
  height: 72px;
  padding: 0 60px;
  border-radius: 100px;
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .btn-lg {
    height: 60px;
    padding: 0 50px;
    border-radius: 60px;
    font-size: 1.25rem;
  }
}

/*----------------------------------------------------
  Page-Specific Button Classes
  * Use when special styling is needed for a button
  on a specific page (usually placement)
-----------------------------------------------------*/
/*
- Page-specific class name formatting should be:
  btn--page-name
  EXAMPLE: btn--wins
- If there is more than one button in the page, formatting for each button should be:
  btn--page-name-button-function
  EXAMPLE: btn--home-getting-started
- Page-specific class names should live in that specific page's .scss file.
*/
input[type=radio] {
  border: 0.5px solid #247984;
  border-radius: 50%;
  width: 26px;
  margin-right: 5px;
  accent-color: red;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
input[type=radio]:disabled {
  background: #c6c6c6;
}
input[type=radio].hover {
  opacity: 0.3;
}

input[type=radio]:checked {
  width: 26px;
  margin-right: 5px;
  accent-color: #247984;
  background-color: #247984;
  border: 3px solid #FFF;
  box-shadow: 0 0 0 1px #247984;
}
input[type=radio]:checked.disabled,
input[type=radio]:checked :disabled {
  accent-color: #6f6f6f;
}
input[type=radio]:checked.hover,
input[type=radio]:checked :hover {
  opacity: 0.3;
}

.input-field-container {
  display: grid;
  padding: 5%;
}

.input-main {
  display: flex;
  justify-content: center;
}

.input-vari {
  display: grid;
  justify-content: center;
  align-content: center;
  color: #9F9F9F;
  font-size: 45px;
  font-weight: bold;
}

.input-box {
  height: 48px;
  width: 348px;
  border-radius: 4px;
}
.input-box.default {
  border: lightgrey 2px solid;
  background-color: #FAFAFA;
}
.input-box.hover {
  border: black 2px solid;
  background-color: #FAFAFA;
}
.input-box.focused {
  border: black 2px solid;
  background-color: #E7F0F1;
}
.input-box.alert {
  border: red 2px solid;
  background-color: #FAFAFA;
}
.input-box.success {
  border: #73A03B 2px solid;
  background-color: #FAFAFA;
}

.textarea-field-container {
  display: grid;
  padding: 5%;
}

.input-main {
  display: flex;
  justify-content: center;
}

.textarea-vari {
  display: grid;
  justify-content: center;
  align-content: center;
  color: #9F9F9F;
  font-size: 45px;
  font-weight: bold;
}

.textarea-box {
  height: 122px;
  width: 348px;
  padding: 12px 0 0 12px;
  border-radius: 4px;
}
.textarea-box.default {
  border: #E7F0F1 2px solid;
  background-color: #E7F0F1;
}
.textarea-box.hover {
  border: lightgray 2px solid;
  background-color: #FAFAFA;
}
.textarea-box.focused {
  border: #A0C4C9 2px solid;
  background-color: #FAFAFA;
}

.dropdowns {
  max-width: 348px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #6F6F6F;
  background-color: #FAFAFA;
}
.dropdowns.selected {
  border-color: #A0C4C9;
}
.dropdowns.hover {
  border-color: #263238;
}

.dropdowns-label {
  text-align: left;
  width: 348px;
  font-size: 14px;
}

.select-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  max-width: 348px;
  height: 48px;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-color: #6F6F6F;
}

.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 300;
  color: #6F6F6F;
  height: 48px;
  background: #ffffff;
  cursor: pointer;
  border: solid 2px;
  border-color: #6F6F6F;
  line-height: 48px;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #6F6F6F;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 18px;
  font-weight: 300;
  color: #6F6F6F;
  cursor: pointer;
  transition: all 0.5s;
  line-height: 48px;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #CFE1E4;
}

.custom-option.selected {
  color: #6F6F6F;
  background-color: #A0C4C9;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.1rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -5px;
  transform: rotate(-45deg);
  background-color: #6F6F6F;
}

.arrow::after {
  left: 5px;
  transform: rotate(45deg);
  background-color: #6F6F6F;
}

.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

.select.opened .custom-options {
  visibility: visible;
  opacity: 1;
}

.dropdown-placeholder-hover-color {
  background-color: #CFE1E4;
}

.dropdown-grid {
  height: 30vh;
  justify-content: flex-start !important;
}

.custom-option.hovered {
  background-color: #CFE1E4;
}

.btn-grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  min-height: 15vh;
}

.btn-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  min-height: 15vh;
}

.btn-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.grid-items {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #F3F3F3;
  flex-wrap: wrap;
}

.grid-items-flex {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
}

.grid-1-5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}/*# sourceMappingURL=main.css.map */