.dropdowns{
    max-width: 348px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 2px solid #6F6F6F;
    background-color: #FAFAFA;
    
    &.selected{
        border-color:  #A0C4C9;
    }
    &.hover{
        border-color: #263238;
    }
    
}

.dropdowns-label{
    text-align: left;
    width: 348px;
    font-size: 14px;
    
}

.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    max-width: 348px;
    height: 48px;
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-color: $drowpdown-border-color;
}
.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 300;
    color: $dropdown-placeholder-color;
    height: 48px;
    background: #ffffff;
    cursor: pointer;
    border: solid 2px;
    border-color: $drowpdown-border-color;
    line-height: 48px;
    
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid $drowpdown-border-color;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    
}
.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 18px;
    font-weight: 300;
    color: $dropdown-placeholder-color;
    cursor: pointer;
    transition: all 0.5s;
    line-height: 48px;
    
}
.custom-option:hover {
    cursor: pointer;
    background-color: $dropdown-hover-color;
}
.custom-option.selected {
    color: $dropdown-placeholder-color;
    background-color: $dropdown-select-color;
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.10rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(-45deg);
    background-color: $dropdown-arrow-color;
}
.arrow::after {
    left: 5px;
    transform: rotate(45deg);
    background-color: $dropdown-arrow-color;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
.select.opened .custom-options{
    visibility: visible;
    opacity: 1;
}

.dropdown-placeholder-hover-color{
    background-color: $dropdown-hover-color;
} 
.dropdown-grid{
    height: 30vh;
    justify-content: flex-start !important;
}

.custom-option.hovered {
    background-color: $dropdown-hover-color;
}