input{
    stroke: $button-defaultcolor;
}
label{
    color: $button-defaultcolor;
}
input.radio-btn{
    stroke: $button-defaultcolor;
    border-color: $button-defaultcolor;
    accent-color: $button-defaultcolor;
    background-color: $button-defaultcolor;
    color: $button-defaultcolor;

}
#alpha{
    stroke: $button-defaultcolor;
    border-color: $button-defaultcolor;
    accent-color: $button-defaultcolor;
    background-color: $button-defaultcolor;
    color: $button-defaultcolor;

}



